@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color__primary: #f2f2f2;
  --color__secondary: #2d3c88;
}

body {
  width: 100%;
  font-family: "SF Mono", "monospace";
  margin: 0;
  padding: 0;
  background-color: white;
}
#root {
  width: 100%;
}

.ant-menu-item-group-title {
  color: white !important;
}
.ant-menu-submenu-title {
  color: white !important;
}

.bg-secondary {
  background-color: var(--color__secondary);
  color: white;
}

.bg-primary {
  background-color: var(--color__primary);
}

.primary-color-text {
  color: var(--color__secondary);
}
.secondary-color-bg {
  background-color: var(--color__secondary);
}

.secondary-color-bg {
  background-color: #00095b;
}

.btn-primary {
  background-color: var(--color__secondary);
  border-color: var(--color__secondary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color__secondary);
  border-color: var(--color__secondary);
  color: #fff;
}
.box-shadow_primary {
  border-radius: 6px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1019607843),
    0 1px 1px rgba(0, 0, 0, 0.0588235294);
  border: 2px solid transparent;
}

/* Định nghĩa các lớp cho nút Cancel */
.button-cancel {
  background-color: white;
  color: var(--color__secondary);
  border: 2px solid var(--color__secondary);
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.button-cancel:hover {
  background-color: var(--color__secondary);
  color: white;
  opacity: 1;
  filter: brightness(1.6); /* Làm sáng nền khi hover */
}

/* Định nghĩa các lớp cho nút Save */
.button-save {
  background-color: var(--color__secondary);
  color: white;
  border: 2px solid var(--color__secondary);
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.button-save:hover {
  background-color: white;
  color: var(--color__secondary);
  opacity: 1;
  filter: brightness(1.6); /* Làm sáng nền khi hover */
}

.disable-bg {
  background-color: #00095b70;
}

.blurred-input {
  color: #0000004a;
  background: #dedede;
  pointer-events: none; /* Ngăn người dùng tương tác */
}
// hover
.hover-action:hover {
  background-color: #dedede !important;
}

.pa-primary {
  padding: 5px 8px 12px 20px;
}
