@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color__primary: #f2f2f2;
  --color__secondary: #2d3c88;

  --color__hover-primary: #4558b7;

  --color__active-primary: #2563eb;

  --color__notactive-primary: #ebebeb;
}

body {
  width: 100%;
  font-family: "SF Mono", "monospace";
  margin: 0;
  padding: 0;
  background-color: white;
}
#root {
  width: 100%;
}
// custome antd

:where(.css-dev-only-do-not-override-1x0dypw).ant-btn-variant-outlined:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: var(--color__hover-primary);
}
:where(.css-dev-only-do-not-override-1x0dypw).ant-btn-variant-outlined:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  border-color: var(--color__hover-primary);
  background: #ffffff;
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-select-outlined:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: var(--color__hover-primary);
}

.ant-modal-header {
  text-transform: uppercase;
}

.ant-modal-title {
  color: var(--color__secondary) !important; /* Đổi thành màu bạn muốn */
}

.ant-menu-item-group-title {
  color: white !important;
}
.ant-menu-submenu-title {
  color: white !important;
}

// background color

.bg-primary {
  background-color: var(--color__primary);
}

.bg-secondary {
  background-color: var(--color__secondary);
  color: white;
}

.primary-color-text {
  color: var(--color__secondary);
}

.primary-color-text:hover {
  color: var(--color__hover-primary);
}

.primary-color-text.active {
  color: var(--color__active-primary);
}

.bg-notactive-primary {
  background-color: var(--color__notactive-primary) !important;
  color: var(--color__primary);
  opacity: 0.8;
}

// btn
.btn-primary {
  background-color: var(--color__secondary);
  border-color: var(--color__secondary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color__hover-primary);
}

.button-save {
  min-width: 64px !important;
  background-color: var(--color__secondary);
  color: white;
  border: 1px solid var(--color__secondary);
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.button-save:hover {
  background-color: var(--color__hover-primary) !important;
  color: var(--color__secondary);
  opacity: 1;
}

.disable-bg {
  background-color: #00095b70;
}

.button-cancel {
  min-width: 64px !important;
  background-color: white;
  color: var(--color__secondary);
  border: 1px solid var(--color__primary);
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.button-cancel:hover {
  color: var(--color__hover-primary) !important;
  border: 1px solid var(--color__hover-primary) !important;
  opacity: 1;
}
// box shadow

.box-shadow_primary {
  border-radius: 6px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1019607843),
    0 1px 1px rgba(0, 0, 0, 0.0588235294);
  border: 2px solid transparent;
}

.box-shadow-btn-save {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1019607843),
    0 1px 1px rgba(0, 0, 0, 0.0588235294);
  border: 2px solid transparent;
}

// border

.border-line-bottom {
  border-bottom: 0.4px solid var(--color__hover-primary);
}

// input
.blurred-input {
  color: #0000004a;
  background: #dedede;
  pointer-events: none; /* Ngăn người dùng tương tác */
}

// :hover

// :hover
.hover-action:hover {
  background-color: #dedede !important;
}
.ant-menu-submenu-title:hover {
  background-color: var(--color__hover-primary) !important;
}
// font-size text title
.font-size-20 {
  font-size: 20px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-16 {
  font-size: 16px !important;
}

// padding
.ant-menu-submenu-title:hover {
  background-color: var(--color__hover-primary) !important;
}

// padding

.pa-primary {
  padding: 5px 8px 12px 20px;
}

// margin

input:focus {
  border-width: 0.5px;
  border-color: var(--color__hover-primary);
  outline: none;
}

// position

.top-17px {
  top: 17px !important;
}

// custome scroll

/* Cài đặt chiều rộng cho thanh cuộn */
::-webkit-scrollbar {
  width: 4px; /* Đặt chiều rộng của thanh cuộn dọc */
  height: 4px; /* Đặt chiều rộng của thanh cuộn ngang */
}

/* Cài đặt màu sắc và border cho phần thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: var(
    --color__primary
  ); /* Màu sắc cho phần thanh cuộn (thumb) */
  border-radius: 4px;
  border: 2px solid var(--color__hover-primary); /* Đặt viền cho thanh cuộn */
}

/* Cài đặt màu sắc cho vùng nền của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của track thanh cuộn */
  border-radius: 4px; /* Bo góc track */
}

// icon

.icon-dots {
  color: var(--color__secondary);
}
.icon-dots:hover {
  background-color: var(--color__primary);
  border-radius: 100%;
  color: var(--color__hover-primary);
}

// margin

input:focus {
  border-width: 0.5px;
  border-color: var(--color__hover-primary);
  outline: none;
}

// position

.top-17px {
  top: 17px !important;
}

// custome scroll

/* Cài đặt chiều rộng cho thanh cuộn */
::-webkit-scrollbar {
  width: 4px; /* Đặt chiều rộng của thanh cuộn dọc */
  height: 4px; /* Đặt chiều rộng của thanh cuộn ngang */
}

/* Cài đặt màu sắc và border cho phần thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: var(
    --color__primary
  ); /* Màu sắc cho phần thanh cuộn (thumb) */
  border-radius: 4px;
  border: 2px solid var(--color__hover-primary); /* Đặt viền cho thanh cuộn */
}

/* Cài đặt màu sắc cho vùng nền của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của track thanh cuộn */
  border-radius: 4px; /* Bo góc track */
}

// icon

.icon-dots {
  color: var(--color__secondary);
}
.icon-dots:hover {
  background-color: var(--color__primary);
  border-radius: 100%;
  color: var(--color__hover-primary);
}

// margin

input:focus {
  border-width: 0.5px;
  border-color: var(--color__hover-primary);
  outline: none;
}

// position

.top-17px {
  top: 17px !important;
}

// custome scroll

/* Cài đặt chiều rộng cho thanh cuộn */
::-webkit-scrollbar {
  width: 4px; /* Đặt chiều rộng của thanh cuộn dọc */
  height: 4px; /* Đặt chiều rộng của thanh cuộn ngang */
}

/* Cài đặt màu sắc và border cho phần thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: var(
    --color__primary
  ); /* Màu sắc cho phần thanh cuộn (thumb) */
  border-radius: 4px;
  border: 2px solid var(--color__hover-primary); /* Đặt viền cho thanh cuộn */
}

/* Cài đặt màu sắc cho vùng nền của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của track thanh cuộn */
  border-radius: 4px; /* Bo góc track */
}
