/* Nav.css */
.ant-menu-inline .ant-menu-item {
  color: white !important;
}

.ant-menu-inline .ant-menu-item:hover {
  background-color: var(--color__hover-primary) !important;
}

.ant-menu-inline .ant-menu-item-selected {
  color: #1e2753 !important;
}

.ant-menu-inline .ant-menu-item-selected:hover {
  background-color: rgb(235 235 235) !important;
}
.nav-container {
  transition: width 0.3s ease;
  width: 252px;
  background-color: #1e2753;
  display: flex;
  flex-direction: column;
  background-color: #1e2753;
  flex-shrink: 0;
}

.nav-container.collapsed {
  width: 80px;
}
.ant-menu-item-icon {
  color: white !important;
}
.ant-menu-item-selected .ant-menu-item-icon {
  color: black !important;
}
// :where(.css-dev-only-do-not-override-1x0dypw).ant-menu-light:not(
//     .ant-menu-horizontal
//   )
//   .ant-menu-item:not(.ant-menu-item-selected):hover {
//   background-color: var(--color__hover-primary) !important;
// }
