.bg-login {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/bg-login/bg-login.jpg");
  background-size: cover;        /* căn full */
  background-position: center;   /* canh giữa */
  background-repeat: no-repeat;  /* không lặp */
}